<% title "Api/Infinity Image" %>

<p>
  <strong>Name:</strong>
  <%= @infinity_image.name %>
</p>

<p>
  <%= link_to "Edit", edit_api_infinity_image_path(@infinity_image) %> |
  <%= link_to "Destroy", [:api, @infinity_image], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", api_infinity_images_path %>
</p>
