<% title "Api/Exo Image" %>

<p>
  <strong>Name:</strong>
  <%= @exo_image.name %>
</p>

<p>
  <%= link_to "Edit", edit_api_exo_image_path(@exo_image) %> |
  <%= link_to "Destroy", [:api, @exo_image], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", api_exo_images_path %>
</p>
